@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');

body, html {
    text-align: center;
    background: linear-gradient(to bottom right, teal, white);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Hanalei Fill', cursive;
}

#nameContainer {
    border: 2px solid black;
}